@import-normalize;
* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	font-family: Arial, Helvetica, sans-serif;
}

.sun {
	animation: rasing 3s linear infinite alternate;
}

@keyframes rasing {
	from {
		r: 15%;
	}
	to {
		r: 20%;
	}
}
.rains {
	animation: raining 1s linear infinite;
	fill: #267bd9;
	&:nth-child(2n) {
		animation-delay: 0.5s;
	}
}
@keyframes raining {
	from {
		fill: #267bd9;
	}
	to {
		fill: #8db0d6;
	}
}
.snow {
	animation: rotate 10s linear infinite;
	transform-origin: center;
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
		fill: #646465;
	}
	50% {
		fill: #646465 + 100;
	}
	100% {
		transform: rotate(360deg);
		fill: #646465;
	}
}

.dark-clouds {
	animation: clouds 2s linear infinite alternate;
}
@keyframes clouds {
	from {
		transform: translateX(0px);
		fill: #565656;
	}
	to {
		transform: translateX(20px);
		fill: #565656 - 10;
	}
}
.lightings {
	animation: lighting 1s ease infinite alternate;
}
@keyframes lighting {
	from {
		fill: #f4e39e;
	}
	to {
		fill: #fc0;
	}
}
.mist {
	animation: mist-move 3s ease infinite alternate;
	&:nth-child(2n) {
		animation-delay: 0.5s;
	}
}
@keyframes mist-move {
	0% {
		fill: #646465;
	}
	50% {
		fill: #646465 + 100;
	}
	100% {
		fill: #646465 + 150;
	}
}

// nav
header {
	position: relative;
	transition: all 0.5s ease;
	width: 100%;
	height: 50px;
	.nav-toggle {
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 2;
		display: grid;
		span {
			height: 8px;
			width: 40px;
			border: 1px solid #666;
			margin: 3px;
			background: #666;
			transition: all 0.5s ease;
			transform-origin: left;
		}
	}
	nav {
		position: fixed;
		background: pink;
		bottom: 0;
		width: 0;
		height: 100vh;
		max-height: 100vh;
		z-index: 1;
		transition: all 0.5s ease;
		ul {
			list-style: none;
			padding-left: 0;
			position: relative;
			text-align: center;
			li {
				a {
					display: none;
					width: 0;
				}
			}
		}
	}
}
.show {
	.nav-toggle {
		.top {
			transform: rotate(45deg);
		}
		.middle {
			opacity: 0;
		}
		.bottom {
			transform: rotate(-45deg);
		}
	}
	nav {
		width: 100%;
		a {
			display: unset;
		}
	}
}
// weather
.weather {
	// max-width: 900px;
	padding: 0 20px;
	display: grid;
	grid-template-areas:
		"city "
		"weatherNow"
		"more ";
	grid-template-rows: auto 500px auto;
	.city {
		grid-area: city;
		justify-self: center;
		font-size: 400%;
		h3 {
			margin: 0;
		}
	}

	.weatherNow {
		display: flex;
		justify-content: center;
		.nowIcon {
			height: 100%;
			.svg-container {
				svg {
					display: block;
				}
			}
		}
		.nowDescription {
			flex-basis: 40%;
			align-self: center;
			text-align: left;
			h3 {
				font-size: 500%;
				margin: 0;
			}
			p {
				&:first-child {
					color: grey;
					font-size: 80%;
				}
				&:last-child {
					text-transform: capitalize;
				}
			}
		}
	}

	.weatherMore {
		display: none;

		height: 0;
		opacity: 0;
		transition: all 0.2s ease-in-out;
		&.showWeatherMore {
			display: flex;
			justify-content: center;
			grid-area: more;
			flex-wrap: wrap;
			height: auto;
			opacity: 1;
		}
		.weatherContainer {
			min-width: 250px;
			max-width: 300px;
			text-align: left;
			font-size: 80%;
			display: flex;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			margin: 5px;
			border-radius: 5px;
			transition: all 0.2s ease-in-out;

			&:hover {
				box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
			}
			.moreIcon {
			}
			.moreDescription {
				p {
					&:first-child {
						color: grey;
						font-size: 80%;
					}
					&:last-child {
						text-transform: capitalize;
					}
				}
			}
			.svg-container {
				width: 100px;
				height: 100px;
				svg {
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
